<footer id="footer" class="site-footer">
  <div class="inner">
    <div class="copyright">
      {% if site.copyright %}
        {{ site.copyright | markdownify }}
      {% else %}
	  <center>
	    <p style="display:inline-block;"> <img src= {{ site.url }}{{ 
	site.baseurl}}/assets/images/Logo_DiBio.png alt="Dept. of Biology Logo"> <br>
	<strong><a href="https://www.biologia.unipd.it/en/">
		Department of Biology<br> University of Padova </a> </p>
        <p>&copy; {{ site.time | date: '%Y' }} "{{ site.title }}" <br>
			A Project by Mauro A. Zordan (M@Z)</p>
	</center>
      {% endif %}
    </div>
  </div>
</footer>
