<footer id="footer" class="site-footer">
  <div class="inner">
    <div class="copyright">
      {% if site.copyright %}
        {{ site.copyright | markdownify }}
      {% else %}
	    <p> <strong><a href="https://www.biologia.unipd.it/en/">Department of Biology</a></strong><img src= {{ site.url }}{{ 
	site.baseurl}}/assets/images/Logo_DiBio.png alt="Dept. of Biology Logo">  <strong><a href="https://www.unipd.it">University of Padova</a></strong><img src= {{ site.url }}{{ 
	site.baseurl}}/assets/images/Timbro_UNIPD_No_Back.png alt="University of Padova Logo"></p>
        <p>&copy; {{ site.time | date: '%Y' }} "{{ site.title }}" A Project by Mauro A. Zordan (M@Z).</p>
      {% endif %}
    </div>
  </div>
</footer>
